@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ul{list-style:none;}
ol{margin:10px; padding:10px;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,  q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
.break{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:30px;}
.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.clearfix:before, .clearfix:after{content: '\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}

/*--------------------------------------------------------------------------------------------------------------
	TYPOGRAFY
----------------------------------------------------------------------------------------------------------------*/

h1{font-size:24px; font-weight:normal;}
h2{font-size:22px; font-weight:normal;}
h3{font-size:18px; font-weight:normal;}
h4{font-size:16px; font-weight:normal;}
h5{font-size:14px; font-weight:normal;}
h6{font-size:12px; font-weight:normal;}
p{font-size:14px; font-weight:normal; color:#fff;}

h1, h2, h3, h4, h5, h6, p, a, span{font-weight:normal;}
a{text-decoration:none; color:#ffffff;}
a:hover{text-decoration:underline;}

/*--------------------------------------------------------------------------------------------------------------
	IMAGE
----------------------------------------------------------------------------------------------------------------*/
.bt-slideprev{background:url(images/bt-slideprev.png) no-repeat; width:35px; height:35px; float:left; -webkit-transition:all 0.2s ease-out;}
.bt-slidenext{background:url(images/bt-slidenext.png) no-repeat; width:35px; height:35px; float:left; -webkit-transition:all 0.2s ease-out;}
.bt-slideprev:hover{background:url(images/bt-slideprev-hover.png) no-repeat;}
.bt-slidenext:hover{background:url(images/bt-slidenext-hover.png) no-repeat;}
.icon-facebook{background:url(images/icon-facebook.png) no-repeat; width:35px; height:35px; float:left;}
.icon-twitter{background:url(images/icon-twitter.png) no-repeat; width:35px; height:35px; float:left;}

/*--------------------------------------------------------------------------------------------------------------
	BODY
----------------------------------------------------------------------------------------------------------------*/

body{background:#3b2a1a; font-family:Calibri, Arial, Helvetica, sans-serif;}
.canvas-wrapper{position:fixed; width:150%; height:150%; margin:-25% 0 0 -25%; opacity:0; transition:all 1s ease-out; -webkit-transition:all 1s ease-out; z-index:2;}
.canvas-wrapper.about{-webkit-transform:perspective(500px) translateX(150px) rotateX(-10deg) rotateY(10deg) rotateZ(-7deg); width:90%; height:90%; margin:0 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.collection{-webkit-transform:perspective(500px) translateX(150px) rotateX(10deg) rotateY(10deg) rotateZ(7deg); width:90%; height:90%; margin:5% 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.contact{-webkit-transform:perspective(500px) translateX(-150px) rotateX(-10deg) rotateY(-10deg) rotateZ(7deg); width:90%; height:90%; margin:0 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.press{-webkit-transform:perspective(500px) translateX(-150px) rotateX(10deg) rotateY(-10deg) rotateZ(-7deg); width:90%; height:90%; margin:5% 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.active{position:fixed; width:100%; height:100%; margin:0; opacity:1;}
.canvas-line{width:100%; height:100%; z-index:2;}
.canvaslink{position:absolute; top:0; left:0; width:100%; height:100%;}
.canvaslink a{position:absolute; width:10px; height:10px; padding:5px; background:#fff; font-size:0; float:left; border-radius:50px; transition:all .2s;}
.canvaslink a:hover{padding:7px;}
.canvaslink a span{position:absolute; font-size:12px; color:#fff; cursor:default; opacity:0; transition:opacity .2s;}
.canvaslink a.link1{left:15.7%; top:27%; transition:all .2s;}
.canvaslink a.link1:hover{left:15.5%; top:26.8%;}
.canvaslink a.link1 span{left:40px; top:10px;}
.canvaslink a.link2{left:15.7%; bottom:27%; transition:all .2s;}
.canvaslink a.link2:hover{left:15.5%; bottom:26.8%;}
.canvaslink a.link2 span{left:40px; bottom:10px;}
.canvaslink a.link3{right:15.7%; top:27%; transition:all .2s;}
.canvaslink a.link3:hover{right:15.5%; top:26.8%;}
.canvaslink a.link3 span{right:40px; top:10px;}
.canvaslink a.link4{right:15.7%; bottom:27%; transition:all .2s;}
.canvaslink a.link4:hover{right:15.5%; bottom:26.8%;}
.canvaslink a.link4 span{right:40px; bottom:10px;}
.canvaslink a.link1:hover span, .canvaslink a.link2:hover span, .canvaslink a.link3:hover span, .canvaslink a.link4:hover span{opacity:1;}
.tlink1{left:17%; top:28%; opacity:0;}
.logo{width:243px; height:250px; position:absolute; top:50%; left:50%; margin-top:-125px; margin-left:-121px; cursor:pointer; z-index:2;}

.logo-diamond{background:url(images/logo-diamond.png) no-repeat; width:34px; height:33px; position:absolute; left:-17px; margin-left:50%; top:85px;}
.logo-arrow{background:url(images/logo-arrow.png) no-repeat; width:25px; height:152px; position:absolute; left:-12.5px; margin-left:50%; top:200px; opacity:0; transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo-bow{background:url(images/logo-bow.png) no-repeat; width:243px; height:50px; position:absolute; left:-121.5px; margin-left:50%; top:0px; opacity:0; transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo-leftwing{background:url(images/logo-leftwing.png) no-repeat; width:93px; height:211px; position:absolute; left:-50px; top:-100px; opacity:0; -webkit-transform:rotate(90deg); transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo-rightwing{background:url(images/logo-rightwing.png) no-repeat; width:93px; height:211px; position:absolute; right:-50px; top:-100px; opacity:0; -webkit-transform:rotate(-90deg); transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo:hover .logo-arrow, .logo-arrow.active{top:0px; opacity:1;}
.logo:hover .logo-bow, .logo-bow.active{top:63px; opacity:1;}
.logo:hover .logo-leftwing, .logo-leftwing.active{left:27px; top:40px; -webkit-transform:rotate(0deg); opacity:1;}
.logo:hover .logo-rightwing, .logo-rightwing.active{right:27px; top:40px; -webkit-transform:rotate(0deg); opacity:1;}

.logofix{background:url(images/logo-fix1.png) no-repeat; width:243px; height:250px; position:absolute; top:50%; left:50%; margin-top:-125px; margin-left:-121px; z-index:2; transition:all 1s ease-out; -webkit-transition:all 1s ease-out;}
.logofix.active{width:160px; height:160px; margin-top:-80px; margin-left:-80px; background-size:contain; opacity:1; transition:all .5s ease-out; -webkit-transition:all .5s ease-out;}
.logofix.active.gone{opacity:0 !important; top:75%;}

.logofix2{background:url(images/logo-fix1.png) no-repeat; background-size:contain; width:50px; height:50px; position:absolute; left:50%; margin-left:-25px; top:0; opacity:0; transition:all .5s ease-out; -webkit-transition:all .5s ease-out;}
.logofix2.active{top:13%; opacity:1;}

.content-wrapper{width:50%; height:40%; position:absolute; top:30%; left:25%; z-index:3;}
.title-bar{position:absolute; width:100%; color:#fff; text-align:center; bottom:15%; z-index:3;}

#aboutus p{margin-bottom:10px;}

#collection ul li{text-align:center; margin-bottom:5px;}

#collection-detail img{position:absolute; z-index:1;}
.slide-controller{width:100%; height:35px; position:fixed; top:50%; left:0; margin-top:-17px; z-index:3;}
.slide-controller .bt-slideprev{position:absolute; left:15%;}
.slide-controller .bt-slidenext{position:absolute; right:15%;}

#contact p, .contact-link{text-align:center; line-height:18px;}
#contact{text-align:center;}
.contact-link{margin-top:30px; display:inline-block;}
.contact-link a{margin:0 10px;}

#press h3{color:#ffffff; text-align:center;}
.press-img{text-align:center; margin-top:50px;}