body {
	background:whitesmoke
}

.box {
	background:white;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.container { margin-top:20px }

.span9 .box {
    padding: 15px;
}
.span12 .box {
    padding: 15px;
}

.container {
	position:relative;
	z-index:1;
}

.span12 {
	margin-top:20px;
}

.input-xtra-mini{
  width: 40px;
}

.input-xmini {
	width:25px; 
}

.clear { 
	clear:both 
}

.match-data td {
	padding-right:30px;
}

.match-data tr td:nth-child(2) {
	font-weight:bold;
}

.match-data span {
	font-weight:bold;
}

.center {
	text-align:center;
}

#commentaries > div {
	margin-top:10px;
}
.dropdown-menu.events-choice {
	min-width:auto;
	padding:4px;
}

.dropdown-menu .substitution a {
	padding:0; display:block;
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: #E5E5E5;
	border-bottom: 1px solid white;
}

.events-choice .btn {
	margin-right:5px;
}

/* sortable css */
.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }


.register-tagline, .feedback-tagline{margin-bottom:10px;}
.register-tagline h1, .feedback-tagline h1{margin-bottom:10px;}

.register-fields input, .feedback-fields input{display:block; width:100%; height:28px;}
.register-fields input[type=submit], .feedback-fields input[type=submit]{height:48px; margin-left:5px;}

.feedback-fields textarea{height:60px;width:100%}

.container {
	position:relative;
	z-index:1;
}

.span12 {
	margin-top:20px;
}

.input-xtra-mini{
  width: 30px;
}