@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ul{list-style:none;}
ol{margin:10px; padding:10px;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,  q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
.break{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:30px;}
.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.clearfix:before, .clearfix:after{content: '\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}

/*--------------------------------------------------------------------------------------------------------------
	TYPOGRAFY
----------------------------------------------------------------------------------------------------------------*/

h1{font-size:24px; font-weight:normal;}
h2{font-size:22px; font-weight:normal;}
h3{font-size:18px; font-weight:normal;}
h4{font-size:16px; font-weight:normal;}
h5{font-size:14px; font-weight:normal;}
h6{font-size:12px; font-weight:normal;}
p{font-size:14px; font-weight:normal; color:#fff;}

h1, h2, h3, h4, h5, h6, p, a, span{font-weight:normal; font-family:'quicksandregular', Calibri, Arial, Helvetica, sans-serif;}
a{text-decoration:none; color:#A49576;}
a:hover{text-decoration:underline;}

@font-face {
    font-family: 'quicksandregular';
    src: url(../font/quicksand-regular-webfont.eot);
    src: url(../font/quicksand-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../font/quicksand-regular-webfont.woff) format('woff'),
         url(../font/quicksand-regular-webfont.ttf) format('truetype'),
         url(../font/quicksand-regular-webfont.svg#quicksandregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------------------------------------------------------------------
	IMAGE
----------------------------------------------------------------------------------------------------------------*/
.arrow.prev{background:url(../img/bt-slideprev.png) no-repeat; width:35px; height:35px; float:left; opacity:0.2; -webkit-transition:all 0.2s ease-out;}
.arrow.next{background:url(../img/bt-slidenext.png) no-repeat; width:35px; height:35px; float:left; opacity:0.2; -webkit-transition:all 0.2s ease-out;}
.arrow.prev:hover, .arrow.next:hover{opacity:1;}
.icon-facebook{background:url(../img/icon-facebook.png) no-repeat; width:35px; height:35px; float:left;}
.icon-twitter{background:url(../img/icon-twitter.png) no-repeat; width:35px; height:35px; float:left;}
.icon-instagram{background:url(../img/icon-instagram.png) no-repeat; width:35px; height:35px; float:left;}
.icon-youtube{background:url(../img/icon-youtube.png) no-repeat; width:84px; height:35px; float:left;}

/*--------------------------------------------------------------------------------------------------------------
	UNSLIDER STYLE
----------------------------------------------------------------------------------------------------------------*/
.banner { position: absolute; overflow: auto; width:100% !important; height:100% !important;}
.banner ul {height:100% !important;}
.banner li { list-style: none; }
.banner ul li { float: left; width:100%; height:100%; position:relative; }
.img-slide{max-width:100%; max-height:100%; position:absolute; margin:auto; left:0; right:0; top:0; bottom:0;}
#press .banner{ width: 50% !important; height: 50% !important; left:25%; top:25%;}

.arrows{width:100%; height:50px; position:fixed; top:50%; left:0; margin-top:-25px; z-index:100;}
.arrow.prev{position:absolute; left:15%; font-size:0;}
.arrow.next{position:absolute; right:15%; font-size:0;}

/*--------------------------------------------------------------------------------------------------------------
	NANO SCROLLER
----------------------------------------------------------------------------------------------------------------*/
.content-wrapper.nano{width:50%; height:40%; top:30%; left:25%;}

.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  padding-right:15px;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #86754d;
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

/*--------------------------------------------------------------------------------------------------------------
	BODY
----------------------------------------------------------------------------------------------------------------*/

body{background:#3b2a1a; font-family:'quicksandregular', Calibri, Arial, Helvetica, sans-serif;}
.canvas-wrapper{position:fixed; width:150%; height:150%; margin:-25% 0 0 -25%; opacity:0; transition:all 1s ease-out; -webkit-transition:all 1s ease-out; z-index:2;}
.canvas-wrapper.about{transform:perspective(500px) translateX(150px) rotateX(-10deg) rotateY(10deg) rotateZ(-7deg); -ms-transform:perspective(500px) translateX(150px) rotateX(-10deg) rotateY(10deg) rotateZ(-7deg); -webkit-transform:perspective(500px) translateX(150px) rotateX(-10deg) rotateY(10deg) rotateZ(-7deg); width:90%; height:90%; margin:0 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.collection{transform:perspective(500px) translateX(150px) rotateX(10deg) rotateY(10deg) rotateZ(7deg); -ms-transform:perspective(500px) translateX(150px) rotateX(10deg) rotateY(10deg) rotateZ(7deg); -webkit-transform:perspective(500px) translateX(150px) rotateX(10deg) rotateY(10deg) rotateZ(7deg); width:90%; height:90%; margin:5% 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.contact{transform:perspective(500px) translateX(-150px) rotateX(-10deg) rotateY(-10deg) rotateZ(7deg); -ms-transform:perspective(500px) translateX(-150px) rotateX(-10deg) rotateY(-10deg) rotateZ(7deg); -webkit-transform:perspective(500px) translateX(-150px) rotateX(-10deg) rotateY(-10deg) rotateZ(7deg); width:90%; height:90%; margin:0 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.press{transform:perspective(500px) translateX(-150px) rotateX(10deg) rotateY(-10deg) rotateZ(-7deg); -ms-transform:perspective(500px) translateX(-150px) rotateX(10deg) rotateY(-10deg) rotateZ(-7deg); -webkit-transform:perspective(500px) translateX(-150px) rotateX(10deg) rotateY(-10deg) rotateZ(-7deg); width:90%; height:90%; margin:5% 5%; opacity:1; -webkit-transition:all 1s ease-out;}
.canvas-wrapper.active{position:fixed; width:100%; height:100%; margin:0; opacity:1;}
.canvas-line{width:100%; height:100%; z-index:2;}
.canvaslink{position:absolute; top:0; left:0; width:100%; height:100%;}
.canvaslink a{position:absolute; width:15px; height:15px; background:#86754d; font-size:0; float:left; border-radius:30px;}
.canvaslink a span{position:absolute; font-size:12px; color:#A49576; cursor:default; opacity:0; transition:opacity .2s;}
.canvaslink a.link1{left:16%; top:27%;}
.canvaslink a.link1 span{left:35px; top:20px;}
.canvaslink a.link1:hover span, .canvaslink a.link2:hover span, .canvaslink a.link3:hover span, .canvaslink a.link4:hover span{opacity:1;}
.canvaslink a.link2{left:16%; bottom:27%;}
.canvaslink a.link2 span{left:35px; bottom:20px;}
.canvaslink a.link3{right:16%; top:27%;}
.canvaslink a.link3 span{right:35px; top:20px;}
.canvaslink a.link4{right:16%; bottom:27%;}
.canvaslink a.link4 span{right:35px; bottom:20px;}
.tlink1{left:17%; top:28%; opacity:0;}
.logo{width:243px; height:250px; position:absolute; top:50%; left:50%; margin-top:-125px; margin-left:-121px; cursor:pointer; z-index:2;}

.logo-diamond{background:url(../img/logo-diamond.png) no-repeat; width:34px; height:33px; position:absolute; left:-17px; margin-left:50%; top:85px;}
.logo-diamond-shine{background:url(../img/logo-diamond-shine.gif) no-repeat; width:34px; height:33px; position:absolute; left:-17px; margin-left:50%; top:85px; opacity:0.5;}
.logo-arrow{background:url(../img/logo-arrow.png) no-repeat; width:25px; height:152px; position:absolute; left:-12.5px; margin-left:50%; top:200px; opacity:0; transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo-bow{background:url(../img/logo-bow.png) no-repeat; width:243px; height:50px; position:absolute; left:-121.5px; margin-left:50%; top:0px; opacity:0; transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo-leftwing{background:url(../img/logo-leftwing.png) no-repeat; width:93px; height:211px; position:absolute; left:-50px; top:-100px; opacity:0; transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg); transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo-rightwing{background:url(../img/logo-rightwing.png) no-repeat; width:93px; height:211px; position:absolute; right:-50px; top:-100px; opacity:0; transform:rotate(-90deg); -ms-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); transition:all 2s ease-out; -webkit-transition:all 2s ease-out;}
.logo:hover .logo-arrow, .logo-arrow.active{top:0px; opacity:1;}
.logo:hover .logo-bow, .logo-bow.active{top:63px; opacity:1;}
.logo:hover .logo-leftwing, .logo-leftwing.active{left:27px; top:40px; transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform:rotate(0deg); opacity:1;}
.logo:hover .logo-rightwing, .logo-rightwing.active{right:27px; top:40px; transform:rotate(0deg); -ms-transform:rotate(0deg); -webkit-transform:rotate(0deg); opacity:1;}

.logo-arrow.unhover{top:0px; opacity:1;}
.logo-bow.unhover{top:63px; opacity:1;}
.logo-leftwing.unhover{left:27px; top:40px; -webkit-transform:rotate(0deg); opacity:1;}
.logo-rightwing.unhover{right:27px; top:40px; -webkit-transform:rotate(0deg); opacity:1;}

.logofix{background:url(../img/logo-fix2.png) no-repeat; width:402px; height:319px; position:absolute; top:50%; left:50%; margin-top:-160px; margin-left:-201px; z-index:2; transition:all 1s ease-out; -webkit-transition:all 1s ease-out; opacity:0;}
.logofix.active{width:250px; height:250px; margin-top:-125px; margin-left:-125px; background-size:contain; opacity:1; transition:all .5s ease-out; -webkit-transition:all .5s ease-out; z-index: 1;}
.logofix.active.gone{opacity:0 !important; top:75%!important;}

.logofix2{background:url(../img/logo-fix1.png) no-repeat; background-size:contain; width:50px; height:50px; position:absolute; left:50%; margin-left:-25px; top:0; opacity:0; transition:all .5s ease-out; -webkit-transition:all .5s ease-out;}
.logofix2.active{top:3%; opacity:1;}

#logo3{cursor:pointer;}

.content-wrapper{position:absolute; z-index:3;}
.title-bar{position:absolute; width:100%; font-size:14px; color:#A49576; text-align:center; bottom:5%; z-index:3;}

#aboutus p{font-size:14px; line-height:18px; color:#A49576; text-align:center; margin-bottom:10px;}

.collection-menu{width:100%; height:100%; display:table; margin: auto;}
.collection-menu ul{display:table-cell; vertical-align:middle;}
.collection-menu ul li{text-align:center; margin-bottom:20px;}
.collection-menu ul li a{color:#A49576;}

#contact p, .contact-link{text-align:center; line-height:18px; color:#A49576 !important; margin-bottom:10px;}
#contact{text-align:center;}
.contact-link{margin-top:30px; display:inline-block;}
.contact-link a{margin:0 10px;}
